@use 'base' as *;

nav
    background: rgba(var(--color_bg), 1)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    position: fixed
    transform: translateY(0%)
    top: 0
    left: 0
    width: calc(100% - 2rem)
    z-index: 99

    .nav-wrapper
        width: 100%
        .PlayIconWrapper, .DirectionIconWrapper, .PreviewIconWrapper
            position: relative
            display: block
            width: 2rem
            height: 2rem

        .PlayIcon, .DirectionIcon, .PreviewIcon
            width: 2rem
            height: 2rem
            svg
                position: absolute
                left: 0
                top: 0
                transform: translate(-50%, -50%)
                opacity: 0
                transform: scale(0) rotate(0deg)
                transition: opacity 0.3s ease, transform 0.3s ease
        .DirectionIcon
            svg
                transition: opacity 0s ease, transform 1s ease
                transform: scale(1) rotate(0deg)
                opacity: 0

        .PlayIcon, .PreviewIcon
            &.active
                svg
                    
                    opacity: 1
                    transform: scale(1)
        .DirectionIcon
            &.active
                svg
                    transform: scale(1) rotate(180deg)
                    opacity: 1

            
            
        svg
            width: 2rem
            height: 2rem
            fill: var(--color_p)
            cursor: pointer  


.logo
    width: 2rem
    height: 2rem

#teleprompter
    background: var(--prompt_bg)
    color: var(--text_color)
    font-family: $font
    font-size: 2rem
    display: block
    width: calc( 100% - 2rem )
    height: auto
    resize: none
    overflow: auto
    border: none
    outline: none
    padding: 2rem 1rem
.MarkdownPreview
    width: calc( 100% - var(--sidePadding) * 2)
    padding: 0 var(--sidePadding)
    transform: scale(var(--mirrorX), var(--mirrorY))
    h1
        font-size: var(--h1Size)
    h2
        font-size: var(--h2Size)
    h3
        font-size: var(--h3Size)
    p
        font-size: var(--pSize)
        line-height: 1.5
        margin: 0 0 calc(1.5 * var(--pSize)) 0
    
    blockquote
        font-size: var(--pSize)
        margin: 0 0 calc(1.5 * var(--pSize)) 0
        padding: 0 0 0 1rem
        border-left: 0.5rem solid var(--text_color)

    ul
        li
            margin: 0 0 calc(1.5 * var(--pSize)) 0
            font-size: var(--pSize)
    

.SettingsBar
    position: fixed
    top: 5rem
    right: -100vw
    width: calc(100vw - 6rem)
    transition: right 0.3s ease
    height: 100%
    background: rgba(var(--color_bg), 0.8)
    backdrop-filter: blur(10px)
    z-index: 99
    padding: 2rem
    h1
        font-size: 3rem
        color: var(--color_p)
        text-align: center
        margin: 1rem 0

    .option
        margin: 1rem 0
        display: flex
        width: 100%
        height: 3rem
        cursor: pointer
        padding: 0.5rem
        border-radius: 1rem
        border: 2px solid var(--color_p)
        &.button
            width: 3rem
            height: 3rem


        .color-picker, .color-fillpicker 
            position: absolute
            width: 3rem
            height: 3rem
            opacity: 0
            cursor: pointer
        .sidePadding
            transform: rotate(90deg)
        svg
            width: 3rem
            height: 3rem
            fill: var(--color_p)
        .mirrorY
            transform: rotate(90deg)
        &.active
            svg
                fill: var(--color_bg)
            background: var(--color_p)
        label
            font-size: 1.5rem
            color: var(--color_p)
            margin: 0
        input
            width: 2rem
            height: 2rem
            cursor: pointer
            &:checked + label
                color: var(--nBlue)
            &.slider
                -webkit-appearance: none
                width: 100%
                height: 1rem
                border-radius: 10rem
                opacity: 0.7
                background: var(--color_p)
                outline: none
                transition: opacity 0.2s ease
            &.slider::-webkit-slider-thumb
                -webkit-appearance: none
                appearance: none
                width: 2rem
                height: 2rem
                border-radius: 50%
                background: $WColor
                cursor: pointer
            &.slider:hover
                opacity: 1
    @include media(">phone", "<=tablet")
        width: calc(50vw - 6rem) 
        right: -50vw
    @include media("<=phone")
        width: calc(100vw - 6rem)
        right: calc(-100vw)
    @include media(">=tablet")
        width: calc(40vw - 6rem) 
        right: -40vw

    &.show
            right: 0
        

.aboutSection
    padding: 2rem
    width: calc( 100% - 4rem )
    text-align: center
    background: rgba(var(--color_bg), 1)
    min-height: calc(100vh - 10rem)
    img
        width: var(--imageSizeN)
        height: auto
    h1
        font-size: 2rem
        color: var(--color_p)
        margin: 0 0 0rem 0
    p
        margin: 0 0
        padding: 0
        a
            color: var(--color_p)
            text-decoration: none
            transition: all 0.3s ease
            &:hover
                color: var(--text_color)
        b
            color: var(--color_p)
            font-size: 1rem
            margin: 0 0 1rem 0