@use 'base' as *;
$navIconSize: 3rem
$navPadding: 2rem
nav
    background: rgba(var(--prompt_bg), 0.7)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    position: fixed
    transform: translateY(0%)
    top: 0
    left: 0
    width: calc(100% - $navIconSize)
    backdrop-filter: blur(10px)
    z-index: 99
    margin: 0
    padding: $navPadding


    .nav-wrapper
        width: 100%
        .PlayIconWrapper, .DirectionIconWrapper, .PreviewIconWrapper, .FullscreenIconWrapper
            position: relative
            display: block
            width: $navIconSize
            height: $navIconSize

        .PlayIcon, .DirectionIcon, .PreviewIcon, .FullscreenIcon
            width: $navIconSize
            height: $navIconSize
            svg
                position: absolute
                width: $navIconSize
                height: $navIconSize
                left: 0
                top: 0
                transform: translate(-50%, -50%)
                opacity: 0
                transform: scale(0) rotate(0deg)
                transition: opacity 0.3s ease, transform 0.3s ease
        .DirectionIcon
            svg
                transition: opacity 0s ease, transform 1s ease
                transform: scale(1) rotate(0deg)
                opacity: 0

        .PlayIcon, .PreviewIcon, .FullscreenIcon
            &.active
                svg
                    
                    opacity: 1
                    transform: scale(1)
        .DirectionIcon
            &.active
                svg
                    transform: scale(1) rotate(180deg)
                    opacity: 1

            
            
        svg
            width: $navIconSize
            height: $navIconSize
            fill: var(--color_p)
            cursor: pointer  


        .logo
            width: $navIconSize
            height: $navIconSize

.teleprommt_wrapper
    margin-top: calc( $navIconSize + $navPadding * 2)
#teleprompter
    background: var(--prompt_bg)
    color: var(--text_color)
    font-family: $font
    font-size: var(--MarkdownFontSize)
    display: block
    width: calc( 100% - 4rem )
    min-height: 100% 
    resize: none
    overflow: auto
    border: none
    outline: none
    padding: 2rem 2rem
.tiptap
    width: calc( 100% - var(--sidePadding) * 2)
    padding: 0 var(--sidePadding)
    transform: scale(var(--mirrorX), var(--mirrorY))
    font-size: var(--MarkdownFontSize)
    h1, h2, h3, h4, h5, h6
        margin: 0 0 0 0
        padding: 0
        font-weight: bold
        color: var(--text_color)
    h1
        font-size: var(--h1Size)
        color: var(--text_color)
        
    h2
        font-size: var(--h2Size)
        color: var(--text_color)
    h3
        font-size: var(--h3Size)
        color: var(--text_color)
    p
        font-size: var(--pSize)
        line-height: var(--pLineHeight)
        margin: 0 0 calc(1 * var(--pSize)) 0
        color: var(--text_color)
    code
        font-size: var(--pSize)
        background: rgba(var(--color_bg), 0.5)
        padding: 0.2rem 0.5rem
        border-radius: 0.5rem
        color: var(--text_color)
    blockquote
        font-size: var(--pSize)
        margin: 0 0 calc(1.5 * var(--pSize)) 0
        padding: 0 0 0 1rem
        border-left: 0.5rem solid var(--text_color)

    ul, ol
        font-size: var(--pSize)
        li
            margin: 0
            padding: 0
            font-size: var(--pSize)
            p
                margin: 0
                padding: 0

$scrollArrowSize: 7rem
.directionArrow
    position: fixed
    bottom: 2rem
    left: 2rem
    opacity: 0.5
    transform: rotate(0deg)
    transition: transform 0.3s ease
    .scrollarrow
        width: $scrollArrowSize
        height: $scrollArrowSize
        fill: var(--color_p)
    &.up
        transform: rotate(180deg)
    

$SettingsIconSize: 3rem

.BGWrapper
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 97
    pointer-events: none

.SettingsBar
    position: fixed
    top: calc( $navIconSize + $navPadding * 2)
    right: -100vw
    opacity: 0
    width: calc(100vw - 6rem)
    transition: right 0.3s ease, opacity 0.3s ease
    height: 100%
    background: rgba(var(--prompt_bg), 0.6)
    backdrop-filter: blur(10px)
    z-index: 98
    padding: 2rem
    border-left: calc($navPadding / 2) solid var(--color_p)
    .settingsTabs
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin: 0 0 0 0
        padding: 0
       
        li
            margin: 0 0 00
            list-style: none
            font-size: 1.5rem
            width: 100%
            text-align: center
            border: 0.25rem solid var(--color_p)
            font-weight: 800
            padding: 0.5rem
            // border-radius: 0.5rem
            color: var(--color_p)
            cursor: pointer
            transition: color 0.3s ease, background 0.3s ease
            &:first-child
                border-top-left-radius: 0.5rem
                border-bottom-left-radius: 0.5rem
                border-right: none
            &:last-child
                border-top-right-radius: 0.5rem
                border-bottom-right-radius: 0.5rem
                border-left: none
        
            &.active
                background: var(--color_p)
                color: rgb(var(--color_bg))
                font-weight: 800
                
            
    h1
        font-size: 3rem
        color: var(--color_p)
        text-align: center
        margin: 0rem 0 1rem 0
        font-weight: 800
        border-bottom: var(--color_p) 0.2rem solid
    p
        font-size: 1.5rem
        color: var(--color_p)
        text-align: center

    .option
        display: flex
        // width: 100%
        height: $SettingsIconSize
        cursor: pointer
        padding: 0.5rem
        border-radius: 1rem
        border: 2px solid var(--color_p)
        margin: 1rem 0
        &.button
            width:  $SettingsIconSize
            height:  $SettingsIconSize


        .color-picker, .color-fillpicker, .color-themepicker 
            position: absolute
            width:  $SettingsIconSize
            height:  $SettingsIconSize
            opacity: 0
            cursor: pointer
        .sidePadding
            transform: rotate(90deg)
        svg
            width:  $SettingsIconSize
            height:  $SettingsIconSize
            fill: var(--color_p)
        .mirrorY
            transform: rotate(90deg)
        &.active
            background: var(--color_p)
            stroke: var(--color_bg)
            svg
                fill: var(--color_bg)
                stroke: var(--color_bg)
                fill: var(--color_bg)
            
        label
            font-size: 1.5rem
            color: var(--color_p)
            margin: 0
        input
            width: 2rem
            min-height: 2rem
            &.slider, &.text, &.number
                appearance: none
                -webkit-appearance: none
                -moz-appearance: none
                height: 1rem
                border-radius: 10rem
                border: none
                opacity: 0.9
                background: var(--color_p)
                cursor: pointer
                outline: none
                transition: opacity 0.2s ease
            &.slider::-webkit-slider-thumb
                appearance: none
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                width: 2.5rem
                height: 2.5rem
                border: 0.5rem solid rgb(var(--color_bg))
                border-radius: 50%
                background: var(--color_p)
                cursor: pointer
            &.slider::-moz-range-thumb
                appearance: none
                -webkit-appearance: none
                -moz-appearance: none
                width: 2.5rem
                height: 2.5rem
                border: 0.5rem solid rgb(var(--color_bg))
                border-radius: 50%
                background: var(--color_p)
                cursor: pointer
            &.text, &.number
                border-radius: 0.5rem
                cursor: text  
                font-family: $font
                font-weight: 600
            &.number
                width: 10%
                min-width: 4rem

            &.slider:hover
                opacity: 1
    @include media(">phone", "<=tablet")
        width: calc(50vw - 6rem) 
        right: -50vw
    @include media("<=phone")
        width: calc(100vw - 6rem)
        right: calc(-100vw)
    @include media(">=tablet")
        width: calc(40vw - 6rem) 
        right: -40vw

    &.show
        right: 0
        opacity: 1
        

.aboutSection
    margin-top: calc( $navIconSize + $navPadding * 2)
    padding: 2rem
    width: calc( 100% - 4rem )
    text-align: center
    background: rgba(var(--prompt_bg), 1)
    .linksAbout
        svg
            fill: var(--color_p)
            transform: scale(1)
            transition: fill 0.3s ease, transform 0.3s ease
            &:hover
                fill: var(--text_color)
                transform: scale(1.2)
    svg
        fill: var(--color_p)
        width: $SettingsIconSize
        height: auto
    img
        width: var(--imageSizeN)
        height: auto
    h1
        font-size: 4rem
        color: var(--color_p)
        margin: 0 0 0rem 0
    p
        margin: 0 0
        padding: 0
        font-size: 2rem
        color: var(--text_color)
        a
            color: var(--color_p)
            text-decoration: none
            transition: all 0.3s ease
            &:hover
                color: var(--text_color)
        b
            color: var(--color_p)
            font-size: 2rem
            margin: 0 0 1rem 0

.server-select
    flex: 1
    height: 3rem
    background: rgba(var(--prompt_bg), 0.5)
    color: var(--text_color)
    border: 2px solid var(--color_p)
    border-radius: 0.5rem
    padding: 0 0.5rem
    font-size: 1.2rem
    outline: none

.mt-1
    margin-top: 1rem