
//Contrast
$WColor: #eeeeee

//Neon Colors
$nBlue: #77adff
$nGreen: #9CFF5C
$nPink: #FF3E8D
$nPurple: #a25aff
$nRed: #FF6161
$nOrange: #FF8548
$nGrey: #b5b5b5

//BG
$TextColor: #eeeeee

$BGcolor: 0, 0, 0
$BGPromter: 27, 31, 58

$navIconSize: 3rem
$navPadding: 2rem
$SettingsIconSize: 3rem

//Responsive
$phone: 740px
$tablet: 1280px
$desktop: 1600px

@font-face
  font-family: 'Assistant'
  font-display: swap
  src: url(assets/fonts/Assistant/Assistant-VariableFont_wght.ttf) format("truetype")

$font: 'Assistant', sans-serif
// $fontSaira: 'Saira Stencil One', cursive

//root
:root
  --color_p: #{$nOrange}
  --color_bg: #{$BGcolor}
  --prompt_bg: #{$BGcolor}
  --text_color: #{$TextColor}
  --imageSizeN: clamp(400px, 20vw, 100%)
  --mirrorX: 1
  --mirrorY: 1
  --fontSize: 3.5
  --pLineHeight: 1.5
  --pSpacing: 1
  --highlight_color: #fff59e
  --editFontSize: 1.5
  --pScale: 2rem
  --pSize: calc(var(--pScale) * var(--fontSize))
  --MarkdownFontSize: calc(2rem * var(--editFontSize))
  --h1Scale: 5rem
  --h2Scale: 3rem
  --h3Scale: 2.5rem
  --h1Size: calc(var(--h1Scale) * var(--fontSize))
  --h2Size: calc(var(--h2Scale) * var(--fontSize))
  --h3Size: calc(var(--h3Scale) * var(--fontSize))
  --sidePadding: 2rem
  --navIconSize: #{$navIconSize}
  --navPadding: #{$navPadding}
  --SettingsIconSize: #{$SettingsIconSize}
  --mainFont: #{$font}
@media screen and (max-width: $phone)
  :root
    --imageSizeN: clamp(200px, 50vw, 100%)

